body, html {
    margin: 0;
    padding: 0;
    font-family: "Georgia";
}

* {
    box-sizing: border-box;
}

header {
    height: 120px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav > button {
    font-size: 1.5rem;
    border: none;
    background-color: inherit;
    color: #396c21;
    font-weight: 600;
}

nav > button:hover {
    font-size: 1.8rem;
}

#content {
    background-color: #ffc0cb;
    background-image: url(../img/icecream.svg);
    background-repeat: repeat;
    background-size: 150px 150px;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
}


#content-card {
    background-color: beige;
    height: 85%;
    width: 850px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    border: 3px solid grey;
}

.underline {
    text-decoration: underline;
}
